.button-primary {
    border: none;
    padding: 1% 8%;
    background-color: #FF7549;
    height: 55px;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 1.2rem;

}
.button-outline {
    white-space: nowrap;
    padding: 1% 8%;
    border: 3px solid #181A3F;
    background-color: white;
    color: #181A3F;
    height: 55px;
    font-size: 1.2rem;
    text-transform: uppercase;
}


h2 {
    font-size: 54px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0;
}
h3 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0;
}
h4 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 0;
}

p {
    color: #555671;
    padding-right: 150px;
    font-size: 18px;
}