.button-primary {
    border: none;
    background-color: #FF7549;
    height: 55px;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 20px;
    font-weight: 10;
}
.button-outline {
    border: 2px solid #181A3F;
    background-color: white;
    color: #181A3F;
    height: 55px;
    font-size: 20px;
    font-weight: 10;
    text-transform: uppercase;
}


h2 {
    font-size: 54px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0;
}

p {
    color: #555671;
    padding-right: 150px;
}