.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 120px;
    .service-item {
        width: 27%;
        margin-bottom: 80px;
    }
    .service-text {
        font-size: 18px;
        line-height: 30px;
    }
}
