.header {
    height: 110px;
    border-bottom: 1px solid #DAD9D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    .menu {
        margin-left: 16px;
        width: 45px;
        border-top: 3px solid #181A3F;
        border-bottom: 3px solid #181A3F;
    }
}
@media screen and (max-device-width:480px){
    .header {
        width: 0px;
    }
}